<%# locals: () %>
<% content_for :page_title, "New Workspace" %>

<% content_for :breadcrumb do %>
  <%= responsive_breadcrumbs(
    { "Workspaces" => workspaces_path },
    "New Workspace",
  ) %>
<% end %>

<div class="mx-auto max-w-4xl">
  <%= render "components/card" do %>
    <%= render "components/card/header" do %>
      <%= render "components/card/title", text: "Create a New Workspace" %>
      <%= render "components/card/description", text: "Workspaces help you organize your memories" %>
    <% end %>

    <%= render "components/card/content" do %>
      <%= render "form", workspace: @workspace %>
    <% end %>
  <% end %>
</div>
