<%# locals: (title:, icon:, icon_class: "", workspaces:, total_count:, collapsible_id:, collapsible_open:, workspace_path_helper:, view_all_path: nil, show_more_threshold: nil) %>

<%= render "components/sidebar/sidebar_menu_item" do %>
  <div
    data-controller="collapsible"
    data-collapsible-open-value="<%= collapsible_open %>"
    data-collapsible-id-value="<%= collapsible_id %>"
    class="group/collapsible"
    data-state="<%= collapsible_open ? 'open' : 'closed' %>"
  >
    <button
      type="button"
      data-action="click->collapsible#toggle"
      data-collapsible-target="trigger"
      class="sidebar-menu-button w-full"
      aria-expanded="<%= collapsible_open %>"
      data-state="<%= collapsible_open ? 'open' : 'closed' %>"
    >
      <%= lucide_icon icon, size: "w-4 h-4", class: icon_class %>
      <span class="flex-1 text-left truncate data-[state=collapsed]:hidden"><%= title %></span>
      <span
        class="
          text-xs text-sidebar-foreground/60 data-[state=collapsed]:hidden
          mr-2
        "
      >
        <%= total_count %>
      </span>
      <span
        data-collapsible-target="chevron"
        class="transition-transform duration-200 <%= collapsible_open ? 'rotate-90' : '' %>"
      >
        <%= lucide_icon :chevron_right, size: "w-4 h-4" %>
      </span>
    </button>

    <div data-collapsible-target="content" class="overflow-hidden">
      <div class="ml-4 border-l border-sidebar-border pl-4 space-y-1 py-1">
        <% workspaces.each do |workspace| %>
          <%= render "components/sidebar/sidebar_menu_button", 
              href: send(workspace_path_helper, workspace),
              class_names: "px-2 font-normal block",
              title: workspace.name do %>
            <%= lucide_icon :folder, size: "w-4 h-4", class: "opacity-60" %>
            <span class="truncate"><%= workspace.name %></span>
          <% end %>
        <% end %>

        <% if (show_more_threshold && total_count > show_more_threshold) || view_all_path %>
          <%= render "components/sidebar/sidebar_menu_button", 
              href: view_all_path,
              data: { highlight: false },
              class_names: "px-2 font-normal" do %>
            <%= lucide_icon :more_horizontal, size: "w-4 h-4", class: "opacity-60" %>
            <span class="truncate">More...</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
