<%# locals: () %>

<% content_for :page_title, "New Memory" %>

<% content_for :breadcrumb do %>
  <%= breadcrumbs(
    {
      "Home" => root_path,
      "Workspaces" => workspaces_path,
      @workspace.name => workspace_path(@workspace)
    },
    "New Memory"
  ) %>
<% end %>

<div class="mx-auto max-w-4xl h-[calc(100vh-12rem)] flex flex-col">
  <%= render "components/card", css_classes: "flex flex-col flex-1 min-h-0" do %>
    <%= render "components/card/header" do %>
      <%= render "components/card/title", text: "Create New Memory" %>
      <%= render "components/card/description", text: "Add a new memory to #{@workspace.name}" %>
    <% end %>

    <%= render "components/card/content", css_classes: "flex-1 flex flex-col min-h-0" do %>
      <%= render "memories/form", memory: @memory, workspace: @workspace %>
    <% end %>
  <% end %>
</div>
