<%# locals: (user:) %>
<%= render "components/sidebar/sidebar_footer" do %>
  <% if user %>
    <%= render "components/sidebar/nav_user", user: user %>
  <% else %>
    <%= render "components/sidebar/sidebar_menu" do %>
      <%= render "components/sidebar/sidebar_menu_item" do %>
        <%= render "components/sidebar/sidebar_menu_button", href: new_session_path do %>
          <%= lucide_icon :log_in, size: "w-4 h-4" %>
          <span class="data-[state=collapsed]:hidden">Sign in</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
