<%# locals: (user:, collapsible_states:) %>
<% if user.pinned_workspaces.any? || user.workspaces.archived.any? || user.workspaces.deleted.any? %>
  <%= render "components/sidebar/sidebar_separator" %>

  <%= render "components/sidebar/sidebar_group" do %>
    <div class="flex items-center justify-between px-4 py-1">
      <span
        class="
          text-xs font-semibold text-sidebar-foreground/60 data-[state=collapsed]:hidden
        "
      >
        More workspaces
      </span>
    </div>
    <%= render "components/sidebar/sidebar_menu" do %>
      <%= render "application/sidebar/more_workspaces/pinned_workspaces",
      user: user,
      collapsible_states: collapsible_states %>

      <%= render "application/sidebar/more_workspaces/archived_workspaces",
      user: user,
      collapsible_states: collapsible_states %>

      <%= render "application/sidebar/more_workspaces/deleted_workspaces",
      user: user,
      collapsible_states: collapsible_states %>
    <% end %>
  <% end %>
<% end %>
