<%# locals: (user:) %>
<%= render "components/sidebar/sidebar_group" do %>
  <div class="flex items-center justify-between px-4 py-1">
    <span
      class="
        text-xs font-semibold text-sidebar-foreground/60 data-[state=collapsed]:hidden
      "
    >
      Workspaces
    </span>
    <%= render "components/sidebar/sidebar_group_action",
        href: new_workspace_path,
        title: "New Workspace" do %>
      <%= lucide_icon :plus, size: "w-4 h-4" %>
      <span class="sr-only">New Workspace</span>
    <% end %>
  </div>
  <%= render "components/sidebar/sidebar_menu" do %>
    <% workspaces = user.workspaces.active.ordered.limit(10) %>
    <% workspaces.each do |workspace| %>
      <%= render "components/sidebar/sidebar_menu_item" do %>
        <%= render "components/sidebar/sidebar_menu_button", 
            href: workspace_path(workspace) do %>
          <%= lucide_icon :folder, size: "w-4 h-4" %>
          <span class="data-[state=collapsed]:hidden"><%= workspace.name %></span>
        <% end %>
      <% end %>
    <% end %>

    <% if user.workspaces.active.count > 10 %>
      <%= render "components/sidebar/sidebar_menu_item" do %>
        <%= render "components/sidebar/sidebar_menu_button", 
            href: workspaces_path,
            data: { highlight: false } do %>
          <%= lucide_icon :more_horizontal, size: "w-4 h-4" %>
          <span class="data-[state=collapsed]:hidden">More...</span>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
