<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Recuerd0" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <%= turbo_refresh_method_tag :morph %>
    <%= turbo_refresh_scroll_tag :preserve %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :tailwind, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "components/toaster", position: :bottom_right do %>
      <%= toast_flash_messages %>
    <% end %>

    <div class="flex h-screen overflow-hidden">
      <%= render "application/sidebar", sidebar_open: @sidebar_open %>
    </div>

    <%= render "shared/turbo_confirm_dialog" %>
  </body>
</html>
