<% content_for :page_title, t("accounts.show.page_title") %>

<% content_for :breadcrumb do %>
  <%= breadcrumbs({}, t("accounts.show.page_title")) %>
<% end %>

<% if Current.user.admin? %>
  <%# Two-column layout for admins: main content left, admin actions right %>
  <div class="mx-auto max-w-5xl grid grid-cols-1 lg:grid-cols-5 items-start gap-6">
    <div class="lg:col-span-3 space-y-6">
      <%= render "accounts/details", account: @account %>
      <%= render "accounts/users", account: @account, users: @users %>
      <%= render "accounts/danger_zone" %>
    </div>

    <div class="lg:col-span-2">
      <div class="lg:sticky lg:top-6">
        <%= render "accounts/invitations", account: @account %>
      </div>
    </div>
  </div>
<% else %>
  <%# Single-column layout for members %>
  <div class="mx-auto max-w-4xl space-y-6">
    <%= render "accounts/details", account: @account %>
    <%= render "accounts/users", account: @account, users: @users %>
  </div>
<% end %>
